## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [10]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Quijingue,BR,-10.7525,-39.2092,70.81,97,97,4.94,overcast clouds
1,1,High Level,CA,58.5169,-117.1360,17.71,73,100,10.36,light snow
2,2,Vaini,TO,-21.2000,-175.2000,84.36,84,75,6.91,broken clouds
3,3,Atuona,PF,-9.8000,-139.0333,79.65,78,8,17.07,clear sky
4,4,Kosamba,IN,21.4833,72.9500,78.71,74,0,5.44,clear sky

In [11]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 90

In [12]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Quijingue,BR,-10.7525,-39.2092,70.81,97,97,4.94,overcast clouds
2,2,Vaini,TO,-21.2000,-175.2000,84.36,84,75,6.91,broken clouds
3,3,Atuona,PF,-9.8000,-139.0333,79.65,78,8,17.07,clear sky
4,4,Kosamba,IN,21.4833,72.9500,78.71,74,0,5.44,clear sky
6,6,Gamba,GA,-2.6500,10.0000,77.31,92,100,3.89,overcast clouds
7,7,Busselton,AU,-33.6500,115.3333,59.31,66,67,3.00,broken clouds
8,8,Bredasdorp,ZA,-34.5322,20.0403,60.22,92,81,4.72,broken clouds
9,9,Olinda,BR,-8.0089,-34.8553,83.93,65,20,9.22,few clouds
10,10,Saldanha,ZA,-33.0117,17.9442,58.96,80,34,9.40,scattered clouds
12,12,Cabo San Lucas,MX,22.8909,-109.9124,88.90,39,49,5.01,scattered clouds

In [14]:
len(preferred_cities_df)

466

In [13]:
# 4a. Determine if there are any empty rows.
pd.isna(preferred_cities_df['Max Temp'])

0      False
2      False
3      False
4      False
6      False
       ...
687    False
688    False
689    False
690    False
691    False
Name: Max Temp, Length: 466, dtype: bool

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Quijingue,BR,-10.7525,-39.2092,70.81,97,97,4.94,overcast clouds
2,2,Vaini,TO,-21.2000,-175.2000,84.36,84,75,6.91,broken clouds
3,3,Atuona,PF,-9.8000,-139.0333,79.65,78,8,17.07,clear sky
4,4,Kosamba,IN,21.4833,72.9500,78.71,74,0,5.44,clear sky
6,6,Gamba,GA,-2.6500,10.0000,77.31,92,100,3.89,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
687,687,Mao,ES,39.8885,4.2658,50.56,81,0,5.75,clear sky
688,688,Lexington,US,37.9887,-84.4777,50.34,47,0,10.36,clear sky
689,689,Sangin,AF,32.0728,64.8359,69.46,47,66,9.66,broken clouds
690,690,Gat,IL,31.6100,34.7642,84.88,11,28,20.83,scattered clouds
691,691,Nurobod,UZ,40.9056,69.8023,67.60,35,100,4.74,overcast clouds

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Quijingue,BR,70.81,overcast clouds,-10.7525,-39.2092,
2,Vaini,TO,84.36,broken clouds,-21.2000,-175.2000,
3,Atuona,PF,79.65,clear sky,-9.8000,-139.0333,
4,Kosamba,IN,78.71,clear sky,21.4833,72.9500,
6,Gamba,GA,77.31,overcast clouds,-2.6500,10.0000,
7,Busselton,AU,59.31,broken clouds,-33.6500,115.3333,
8,Bredasdorp,ZA,60.22,broken clouds,-34.5322,20.0403,
9,Olinda,BR,83.93,few clouds,-8.0089,-34.8553,
10,Saldanha,ZA,58.96,scattered clouds,-33.0117,17.9442,
12,Cabo San Lucas,MX,88.90,scattered clouds,22.8909,-109.9124,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
NaN_value = float("NaN")
hotel_df = hotel_df.replace("", NaN_value)

In [28]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Quijingue,BR,70.81,overcast clouds,-10.7525,-39.2092,Pousada Sabor Da Terra
2,Vaini,TO,84.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,Atuona,PF,79.65,clear sky,-9.8000,-139.0333,Villa Enata
4,Kosamba,IN,78.71,clear sky,21.4833,72.9500,Ajay nanjibhai chavda
7,Busselton,AU,59.31,broken clouds,-33.6500,115.3333,Observatory Guest House
...,...,...,...,...,...,...,...
685,Ambagarh Chauki,IN,79.68,clear sky,20.7833,80.7167,गाँधी चौक शांति भवन सोनसाय टोला
686,Adeje,ES,76.30,haze,28.1227,-16.7260,Gran Tacande Wellness & Relax
687,Mao,ES,50.56,clear sky,39.8885,4.2658,ARTIEM Capri
688,Lexington,US,50.34,clear sky,37.9887,-84.4777,DoubleTree Suites by Hilton Hotel Lexington
690,Gat,IL,84.88,scattered clouds,31.6100,34.7642,OlusHome

In [29]:
len(hotel_df)

440

In [31]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [36]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))